div.header{
    background-color: #55d5ea;
    text-align: center;
    font-size: 2em;
    color: white;
    position: relative;
    width: 1000px;
    height: 50px;
}
div.hero{
    background-color: #d6c9e2;
    text-align: center;
    font-size: 2em;
    color: white;
    position: fixed;
    top: 60px;
    left: 8px;
    width: 495px;
    height: 200px;
}